//buttons helper class

.btn {
    color: white;
    border: 2px solid white;
    background-color: transparent;
}

button {
    cursor: pointer;
}

//main button styles

.btn-large {
    @extend .btn;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    padding: 0.5em 1em;
    margin-top: 0.5em;
}

.btn-medium {
    @extend .btn;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    padding: 0.5em 1em;
    margin-top: 1em;
    width: 230px;
}

.btn-small {
    @extend .btn;
    padding: 0.3em;
}

.btn-xsmall {
    @extend .btn;
    font-size: 1rem;
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
}

//highlight key action buttons

.btn-add, .btn-generate, .btn-predictions {
    background-color: var(--brickAlpha);
}

//highlight home button

.btn-active {
    background-color: var(--brickAlpha);
}

//button transitions

.btn-medium:hover, 
.btn-small:hover, 
.btn-xsmall:hover {
    color: var(--brick);
    background: rgba(0, 0, 0, 0.4);
}

.btn-large:focus {
    outline: none;
}

//move these elsewhere

.btn-reset {
    position: absolute;
    bottom: 1.5rem;
    right: calc(1.2em + 1.5em);
}

.btn-predictions {
    position: absolute;
    bottom: 5rem;
    right: calc(1.2em + 1.5em);
}

.btn-generate {
    position: absolute;
    bottom: 1.5rem;
    left: calc(1.2em + 1.5em); 
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}