.control-panel {
    grid-row: 3 / 5;
    grid-column: 4 / 10;
    border: var(--border);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    @extend .vertical-align;
    justify-content: space-between;
    position: relative; //to position reset button inside player form
}

.select-number, .customise {
    display: flex;
    align-items: center;

    p {
        margin-right: 0.8em;
    }

    button:last-child {
        margin-left: 0.5em;
    }
}

//balance teams by skill and delete players pop ups
.control-message {
    //position message centrally in control panel 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @extend .vertical-align;

    input {
        width: 20px;
        height: 20px;
    }
}

//position generate teams button in control panel
.btn-generate {
    position: absolute;
    bottom: 1.2rem;
    left: calc(1.2em + 1.5em); 
}