.control-panel {
    grid-row: 3 / 5;
    grid-column: 4 / 10;
    border: 2px solid white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.control-number {
    display: flex;
    align-items: center;

    p {
        margin-right: 0.8em;
    }

    button {
        margin-right: 0.5em;
    }
}

.form-container {
    display: flex;
    // align-content: space-between;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.2em;
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: space-between;
    // width: 100%;
    // margin-bottom: 1.2em;
}

.form-label {
    // margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1rem;
}