.container {
    background-image: url(../images/football-team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--teal);
    background-blend-mode: multiply;

    height: 100vh;
    padding: var(--gutter);
    
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gutter);

    // @media screen and (max-width: 1175px) {
    //     // height: 250vh;
    //     height: auto;
    //     grid-template-rows: repeat(7, 1fr);

    //     @media screen and (max-width: 620px) {
    //         grid-template-rows: repeat(8, 1fr);
    //     }
    // }

    @media screen and (max-width: 1175px) {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: var(--gutterWide);
    }

}