.icon-container {
    border: var(--border);
    border-radius: 100%;
    padding: 0.8rem;

    @media screen and (max-width: 1175px) {
        margin-top: 2rem;
    }
}

.icon {
    height: 50px;
    width: 50px;
}