.text-input {
    @extend .text-card;
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.form-field {
    @extend .vertical-align;
}

//to counter the larger default text input width in firefox
input[type=text] {
    max-width: 220px;
}

//align firefox range input styling to default Chrome styling, to improve contrast with background
input[type=range] {
    -moz-appearance: none;
    background-color: #0000FF;
}