//display delete player button outside of player card
.btn-delete {
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
}

.player-list {
    //to allow room for delete player button
    padding-right: 4rem;
    //to allow vertical scrolling
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 1175px) {
        //since viewport height is bad on mobile due to the URL bar
        max-height: 200px;
    }
}

.player-list-container {
    grid-row: 5 / 7;
    grid-column: 4 / 10;
    border: var(--border);
    padding: 2rem 4rem;

    @media screen and (max-width: 768px) {
        padding: 1rem;
    }
}