.player-card {
    background-color: white;
    border-radius: 3px;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}