.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.2rem;
    width: 100%;

    @media screen and (max-width: 620px) {
        flex-direction: column;
        align-items: center;
    }
}

//position reset button in player form
.reset-control-panel {
    position: absolute;
    bottom: 1.5rem;
    right: calc(1.2rem + 1.5rem);

    @media screen and (max-width: 620px) {
        position: static;
    }
}