.player-list {
     //to allow room for delete player button
    padding-right: 4rem;
    //to allow vertical scrolling
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.player-list-container {
    grid-row: 5 / 7;
    grid-column: 4 / 10;
    border: 2px solid white;
    padding: 2rem 4rem;
}