.player-card {
    color: white;
    background-color: var(--shadedLight);
    border-radius: 3px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    position: relative; //for positioning delete player button
}