.form-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.2rem;
    width: 100%;
}

//position reset button in player form
.reset-control-panel {
    position: absolute;
    bottom: 1.5rem;
    right: calc(1.2rem + 1.5rem);
}