.predictions-container {
    grid-row: 3 / 7;
    grid-column: 10 / 13;
    position: relative;

    p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
}

.predictions-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
}