.predictions-container {
    grid-row: 3 / 7;
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem;
    position: relative; //to allow reset button to be positioned in here

    @media screen and (max-width: 1175px) {
        grid-row: 6 / 8;
        grid-column: 3 / 11;
        flex-direction: column;
        padding: 0 5rem 7rem 5rem;

        @media screen and (max-width: 900px) {
            grid-column: 1 / 13;
        }
    }
}

.predictions-text {
    background-color: var(--shadedDark);
    padding: 2rem;

    p:first-child {
        margin-bottom: 2rem;
    }
}

.reset-final {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
}