@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {

    //colors

    --teal: #008080;
    --brick: #BF1D28;
    --brickAlpha: rgba(191, 29, 40, 0.5);

    //fonts

    --fontMain: "Roboto", "Helvetica", sans-serif;

    //gutter

    --gutter: 1.5em;

}

* {
    box-sizing: border-box;
}

main, section {
    display: contents;
}

// helper class for centrally aligning items vertically

.vertical-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}