.arrow {
    font-size: 2rem;
    font-weight: 700;
    color: red;
    display: inline-block;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow-mobile {
    display: none;
    text-align: center;

    @media screen and (max-width: 1175px) {
        display: block;
        margin-bottom: 2rem;
    }
}

.arrow-desktop {
    @media screen and (max-width: 1175px) {
        display: none;
    }
}

//arrow animations

.bounce-down {
    animation-name: bounce-down;
    animation-timing-function: ease;
    margin-bottom: 1rem;
}

.bounce-left {
    animation-name: bounce-left;
    animation-timing-function: ease;

}

.bounce-right {
    animation-name: bounce-right;
    animation-timing-function: ease;
}

@keyframes bounce-down {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(1rem); }
    100% { transform: translateY(0); }
}

@keyframes bounce-left {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-1rem); }
    100% { transform: translateX(0); }
}

@keyframes bounce-right {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(1rem); }
    100% { transform: translateX(0); }
}