.team-list-1 {
    grid-row: 2 / 6;
    grid-column: 1 / 4;
    border: 2px solid white;
    padding: 2rem;
}

.team-list-2 {
    grid-row: 2 / 6;
    grid-column: 10 / 13;
    border: 2px solid white;
    padding: 2rem;
}