//to allow vertical scrolling
.team-list {
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;

    @media screen and (max-width: 1175px) {
        max-height: 30vh;
    }
}

.team-list-1, .team-list-2 {
    @extend .vertical-between;
    height: 100%;
}