//team staging area headers

.header-team-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.header-team-2 {
    grid-row: 1 / 2;
    grid-column: 10 / 13;
}

.header-team-1, .header-team-2 {
    @extend .center;
}

//team cards

.team-list-1 {
    grid-row: 2 / 6;
    grid-column: 1 / 4;
}

.team-list-2 {
    grid-row: 2 / 6;
    grid-column: 10 / 13;
}

.team-list-1, .team-list-2 {
    border: var(--border);
    padding: 2rem;
}

//home/away buttons and text

.home-btn-container-1 {
    grid-row: 6 / 7;
    grid-column: 1 / 4;
}

.home-btn-container-2 {
    grid-row: 6 / 7;
    grid-column: 10 / 13;
}

.home-btn-container-1, .home-btn-container-2 {
    @extend .center;
}

.home-container {
    @extend .vertical-align;
}