.team-list-1-final {
    grid-row: 3 / 7;
    grid-column: 4 / 7;

    @media screen and (max-width: 1175px) {
        grid-row: 2 / 4;
        grid-column: 3 / 11;

        @media screen and (max-width: 900px) {
            grid-column: 1 / 13;
        }
    }
}

.team-list-2-final {
    grid-row: 3 / 7;
    grid-column: 7 / 10;

    @media screen and (max-width: 1175px) {
        grid-row: 4 / 6;
        grid-column: 3 / 11;

        @media screen and (max-width: 900px) {
            grid-column: 1 / 13;
        }
    }
}

.team-list-1-final, .team-list-2-final {
    background-color: var(--shadedDark);
    border: var(--border);
    padding: 2rem;
    @extend .vertical-align;
    justify-content: space-between;

    @media screen and (max-width: 1175px) {
        padding: 2rem 3rem;
        margin-bottom: var(--gutter);
    }

    ul {
        width: 100%;
        max-height: 60%;

        @media screen and (max-width: 1175px) {
            max-height: 30vh;
        }
    }
}