//main typography mixin

@mixin mainText($fontSize, $fontWeight, $letterSpacing) {
    font-family: var(--fontMain);
    color: white;
    font-size: $fontSize;
    font-weight: $fontWeight;
    letter-spacing: $letterSpacing;
}

//titles

.title-main {
    @include mainText(5rem, 200, normal);
}

.title-main-small {
    @include mainText(0.8rem, 500, 0.3rem);
    text-transform: uppercase;
}

.title-sub {
    @include mainText(1.7rem, 300, normal);
}

//main text

.text-large {
    @include mainText(1.3rem, 500, 0.3rem);
}

.text-medium {
    @include mainText(1.1rem, 500, 0.3rem);
}

.text-small {
    @include mainText(1rem, 500, 0.3rem);
    margin-bottom: 0.5rem;
}

.text-xsmall {
    @include mainText(0.8rem, 400, 0.3rem);
}

//card text

.text-card {
    @include mainText(1.3rem, 400, normal);
}

.text-card-small {
    @include mainText(1.1rem, 400, normal);
    line-height: 1.5rem;
}