@import '_reset.scss';
@import '_settings.scss';
@import '_typography.scss';
@import '_header.scss';
@import '_control-panel.scss';
@import '_player-list.scss';
@import '_team-list.scss';

.container {
    background-image: url(../images/football-team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: teal;
    background-blend-mode: multiply;
    color: white;
    height: 100vh;
    padding: var(--gutter);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--gutter);
}